version: '3'
services:
  go-to-work:
#    build:
#      context: .
#      dockerfile: GoToWorkCore/Dockerfile
    image: max1994/gotoworkparent-go-to-work:latest
    container_name: goToWorkCore
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DADATA_API_KEY: ${DADATA_API_KEY}
      DADATA_URL: https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address
      GRAPHHOOPER_API_KEY: ${GRAPHHOOPER_API_KEY}
      GRAPHHOOPER_URL: https://graphhopper.com/api/1/route
#      SPRING_APPLICATION_PROFILE: prod
      ENVIRONMENT: production

    logging:
      driver: "json-file"
      options:
        max-size: 50m

  telegram-bot:
#    build:
#      context: .
#      dockerfile: TelegramBot/Dockerfile
    image: max1994/gotoworkparent-telegram-bot:latest
    container_name: telegramBot
    ports:
      - "8081:8081"
    environment:
#      SPRING_PROFILES_ACTIVE: prod
      TELEGRAM_BOT_TOKEN: ${BOT_TOKEN}
      TELEGRAM_BOT_USERNAME: ${BOT_USERNAME}
      CORE_SERVICE_URL: http://go-to-work:8080/api/routes
#      SPRING_APPLICATION_PROFILE: prod
      ENVIRONMENT: production

    logging:
      driver: "json-file"
      options:
        max-size: 50m

  postgres:
    image: postgres:13.1
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    logging:
      driver: "json-file"
      options:
        max-size: 50m