version: '3'
services:
  go-to-work:
    build: ./GoToWorkCore
    container_name: goToWorkCore
    ports:
      - "8080:8080"
    environment:
      - "SPRING_PROFILES_ACTIVE=docker"
      - DADATA_API_KEY=f0d7b7fbc70c8fd3baaa7a534539ef03c265e412
      - GRAPHHOOPER_API_KEY=443b290d-37b9-495d-b3bd-688e8e28ff1e
      - SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/go_to_work_db


  telegram-bot:
    build: ./TelegramBot
    container_name: telegramBot
    ports:
      - "8081:8081"
    environment:
      - "SPRING_PROFILES_ACTIVE=docker"
      - TELEGRAM_BOT_TOKEN=8326413347:AAGF078sIq646SQafkaBgz1Eht9PQnciqAQ
      - TELEGRAM_BOT_USERNAME=go_to_work1_bot
      - CORE_SERVICE_URL=http://core-service:8080/api/routes